name: Publish Docker image
on:
  release:
    types: [published]
  push:
    branches: [ master ]    

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          repository: isitar/webapi-file-storage
          tags: stable
          tag_with_ref: true
          file: Src/WebApi/Dockerfile
          push: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          registry: ghcr.io
          repository: isitar/webapi-file-storage/webapi-file-storage
          tag_with_ref: true
          tags: stable
          file: Src/WebApi/Dockerfile
          push: true